body {
  background-color: pink;
  font-family: monospace;
}

.header {
  text-align: center;
}

.header .title {
  font-weight: bold;
}

.header .description {
  font-size: medium;
  color: grey;
}

.header .links {
  display: flex;
  justify-content: space-evenly;
}

.input-field input[type="text"]:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}
